<div class="footer">
<div id="ft" class="wp cl">

<p>
	    <span><a href="{aspcms:sitepath}{aspcms:languagepath}">首页</a> |
<a href="/list/?135_1.html">国内</a>|
<a href="/list/?136_1.html">国际</a>|
<a href="/list/?138_1.html">科技</a>|
<a href="/list/?139_1.html">军事</a>|
<a href="/list/?140_1.html">体育</a>|
<a href="/list/?141_1.html">财经</a>|
<a href="/list/?142_1.html">娱乐</a>|
<a href="/list/?143_1.html">网络</a>|
<a href="/list/?144_1.html">汽车</a>|
<a href="/list/?145_1.html">女性</a></span>
</p>
<span>

            本站全部内容均来源于网络,由个别新闻内容引发的争议，本站不参与任何评论，一切后果与本站无关！
           
            </span>
<p>
            Copyright @ 2010-2013 <a href="/" target="_blank">{aspcms:sitetitle}</a> 版权所有<br>
            <a href="http://www.miibeian.gov.cn/" target="_blank">{aspcms:companyicp}</a><br></p></div>
    </div>
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&img=7&pos=right&uid=6749596" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->