<div class="ctr user_say">
 <div style="height:10px;"></div>
        <div class="usershow cl" style="">
          <div class="cl tab ">
<p>作者相关信息</p>
               <div style="height:0px;"></div>
           <div class="userinfo cl">
             <div>
                    <ul>

<li style="border-bottom: 1px dashed orange;"><br>
<img src="/images/case_designer_id.jpg"><br>
■姓名：X X</li>          
<li style="border-bottom: 1px dashed orange;">■性别：男</li>          
<li style="border-bottom: 1px dashed orange;">■职业：设计师</li>          
<li style="border-bottom: 1px dashed orange;">■专业：UI设计</li>                  
<li style="border-bottom: 1px dashed orange;">■随笔：ASPKU源码库提供精品商业网站源码下载！</li>          
</ul>
             </div>
           </div>
         </div>		
       </div>
</div>	