<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>{aspcms:sorttitle}-{aspcms:sitetitle}</title>
<meta name="Keywords" content="{aspcms:sortkeyword}" >
<meta name="Description" content="{aspcms:sortdesc}" >
<link rel="stylesheet" type="text/css" href="http://www.moke8.com/data/cache/style_12_common.css?t7v" />
<link rel="stylesheet" type="text/css" href="http://www.moke8.com/data/cache/style_12_forum_viewthread.css?t7v" />
{aspcms:top}
<div class="moke-main">
    <div id="wp" class="wp banner">
    <div class="a_mu"><img src="http://www.moke8.com/moke8/banner/topbanner.png" border="0"></div>    </div>
<div id="wp" class="wp">
<div id="ct" class="wp cl">
<div class="ctl" style="padding-top:25px;">
<div id="postlist" class="pl">


<div id="post_53979">

<table id="pid53979" summary="pid53979" cellspacing="0" cellpadding="0">

<tbody><tr>

<td id="plc_53979" class="plc" style="padding-left:20px;padding-right:20px;">

<!--新闻列表开始-->
<table width="700">
                {aspcms:list size=25 order=id}
<tr><td align="left" valign="middle"><span class="xl1_elp">&#8226; <a href="[list:link]" target="_blank">[list:title len=50]</a></span></td>
<td align="right" valign="middle"><span style="float:right;">[list:date style=yy-m-d]</span></td></tr>
                     {/aspcms:list} 
<tr><td colspan="2" align="center" style="padding-top:40px;">
	<div id="pgt" class="bm bw0 pgs cl">

<span id="fd_page_top"><div class="pg">[list:pagenumber len=5]</div></span>
</div></td></tr>
</table>
<!--新闻列表结束-->
</td>

</tr>


</tbody></table>
</div>
</div>
</div>
    {aspcms:template src=newsleft.html}</div>
    </div>
</div>
{aspcms:foot}
</body></html>