
 <div class="ctr user_say">
 <div style="height:10px;"></div>
        <div class="usershow cl" style="">
          <div class="cl tab ">
<p>作者相关信息</p>
               <div style="height:0px;"></div>
           <div class="userinfo cl">
             <div class="userimg_left">
<img src="http://www.moke8.com/uc_server/data/avatar/000/00/00/01_avatar_small.jpg">
             </div>
             <div class="userinfo_left">
                    <ul class="xl xl2 o cl">
<li>
<a href="http://www.aspku.com/" title="moke">Aspcms</a>
</li>          
</ul>
             </div>
           </div>
         </div>		
       </div>
          
                     <div>
<div class="cl tab rel">
<p>更多aspcms模板</p>
</div>
<div class="bm_c2 updateCont">
<ul name="tabul">
				   {aspcms:content sort=5 num=13 order=id} 
<li><p><a href="[content:link]" title="[content:title len=28]" target="_blank">[content:title len=15]</a></p></li>
                    {/aspcms:content}
</ul>
</div>
         </div>
                            
         <div class="cl">
    <div class="cl tab rel">
<p>每周精品推荐</p>
</div>
<div class="bm_c2"><div class="col_190">
            {aspcms:content sort=5 num=4 order=isrecommend}
		<div class="projects">	
			<div class="projects-thumbnail">	
                <a href="[content:link]" target="_blank">
				<img src="[content:pic]" width="188" height="150" alt="[content:title len=10]">
				<span class="project-thumbnail-overlay"></span>
				<p class="project-to-detail">+</p>
                </a>
			</div>
			<div class="project-desc">
				<p class="nofont"><span class="vip">VIP</span> <a href="[content:link]" target="_blank">[content:title len=10]</a></p>
			</div>
		</div>
            {/aspcms:content}
	</div></div>
         </div>       
</div>	